/* Centering the main container */
.head {
    width: 50%;
    margin: 0 auto;
}

.main-container {
    background-color: rgb(233, 233, 233);
    display: flex;
    flex-wrap: nowrap; /* Maintain the original layout */
    width: 53vw;
    border-radius: 20px;
}

.left-sec {
    background-color: black;
    width: 400px;
    height: 850px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
}

.image {
    width: 100%;
    max-width: 150px; /* Ensures image does not get too big */
    display: block;
    margin: auto;
}

.left-sec p {
    color: white;
    text-align: start;
    font-size: 17px;
    margin: 10px;

}

.skills li {
    padding: 10px;
    font-weight: 900;
    color: white;
    margin-left: 10px;
}

.right-sec {
    margin-left: 30px;
    width: 800px;
}

h2 {
    background-color: rgb(7, 7, 99);
    color: white;
    height: 32px;
    text-align: center;
    padding-top: 10px;
}

h1 {
    color: black;
    margin: 25px;
    text-align: center;
}

button {
    width: 130px;
    height: 40px;
    border-radius: 10px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}

/* Responsive Design */
@media (max-width: 1024px) {
    .main-container {
        width: 90vw;
        flex-wrap: wrap; /* Ensures responsiveness */
    }

    .left-sec, .right-sec {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .head {
        width: 100%;
    }

    .main-container {
        width: 100%;
        flex-direction: column;
    }

    .left-sec {
        width: 100%;
        height: auto;
        border-radius: 20px 20px 0 0;
    }

    .right-sec {
        width: 100%;
        margin-left: 0;
    }

    .image {
        width: 50%;
    }

    h1 {
        position: relative;
        top: 0;
        width: 100%;
        text-align: center;
        order: -1; /* Moves the heading to the top on small screens */
    }
}